// Variables
$themes: (
    leaf: (
        color1: #1ecd80,
        color2: #fefff2,
        color3: #528971,
        color4: #fefff2,
        radius: 6px,
        width: 180px,
        shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1)
    ),
    vanilla: (
        color1: #feac92,
        color2: #ffffff,
        color3: #9ed7db,
        color4: #faf7f4,
        radius: 6px,
        width: 180px,
        shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1)
    ),
    ryanair: (
        color1: #7e57dc,
        color2: #50388a,
        color3: #ffffff,
        color4: #ffffff,
        radius: 6px,
        width: 180px,
        shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1)
    )
);

.picker-input {
    cursor: text
}

.picker-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    -o-transition: opacity .4s ease, visibility .4s ease;
    -webkit-transition: opacity .4s ease, visibility .4s ease;
    transition: opacity .4s ease, visibility .4s ease;
    visibility: visible;
    width: 100%;
    z-index: 2147483637;

    &.picker-overlay-hidden {
        opacity: 0;
        visibility: hidden
    }
}

div.datedropper {
    --dd-color1: #fd4741;
    --dd-color2: white;
    --dd-color3: #4d4d4d;
    --dd-color4: white;
    --dd-radius: 6px;
    --dd-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
    --dd-width: 180px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px !important;
    border-radius: var(--dd-radius) !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    left: 0;
    line-height: 1;
    margin-top: -8px;
    opacity: 0;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 0;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    visibility: hidden;
    z-index: 2147483638;

    &::before {
        background-color: white;
        border-top-left-radius: 4px;
        content: "";
        height: 16px;
        left: 50%;
        position: absolute;
        top: -8px;
        -ms-transform: translateX(-50%) rotate(45deg);
        -webkit-transform: translateX(-50%) rotate(45deg);
        transform: translateX(-50%) rotate(45deg);
        width: 16px;
        z-index: 1
    }

    @each $name, $properties in $themes {
        &.#{$name} {
            @each $property, $value in $properties {
                --dd-#{$property}: #{$value};
            }
        }
    }

    &.picker-focused {
        margin-top: 8px;
        opacity: 1;
        visibility: visible;
    }

    * {
        border: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        width: auto;
    }

    svg {
        fill: currentColor
    }

    .pick-submit {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-radius: 56px;
        cursor: pointer;
        font-size: 24px;
        height: 100%;
        line-height: 64px;
        margin: 0 auto;
        outline: 0;
        position: relative;
        text-align: center;
        top: 0;
        width: 56px;

        &:hover, &:focus {
            -webkit-box-shadow: 0 0 0 16px rgba(0, 0, 0, 0.04), 0 0 0 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0 0 0 16px rgba(0, 0, 0, 0.04), 0 0 0 8px rgba(0, 0, 0, 0.04);
            top: 4px;
        }

        svg {
            position: relative;
            top: 20px
        }
    }

    .picker {
        border-radius: 6px !important;
        border-radius: var(--dd-radius) !important;
        -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1) !important;
        -webkit-box-shadow: var(--dd-shadow) !important;
        box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1) !important;
        box-shadow: var(--dd-shadow) !important;
        overflow: hidden;
        position: relative;

        + div {
            font-size: 10px;
            font-weight: bold;
            padding: .5rem;
            text-align: center;
            text-transform: uppercase;

            a {
                color: currentColor;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        ul {
            cursor: pointer;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            z-index: 2;

            &.pick {
                outline: 0;
                overflow: hidden;
                position: relative;

                &:nth-of-type(2) {
                    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.06);
                    box-shadow: 0 1px rgba(0, 0, 0, 0.06);
                }

                &:hover, &:focus {
                    &::after {
                        background-color: rgba(0, 0, 0, 0.04);
                        border-radius: 6px;
                        bottom: 6px;
                        content: "";
                        left: 6px;
                        pointer-events: none;
                        position: absolute;
                        right: 6px;
                        top: 6px;
                    }

                    &.pick-jump .pick-arw-s2 {
                        opacity: 0.6;
                        pointer-events: auto;

                        &.pick-arw-r {
                            -ms-transform: translateX(-8px);
                            -webkit-transform: translateX(-8px);
                            transform: translateX(-8px);
                        }

                        &.pick-arw-l {
                            -ms-transform: translateX(8px);
                            -webkit-transform: translateX(8px);
                            transform: translateX(8px);
                        }
                    }

                    .pick-arw-s1 {
                        opacity: 0.6;
                    }
                }

                &.pick-m, &.pick-y {
                    height: 60px;
                }

                &.pick-m {
                    font-size: 32px;
                }

                &.pick-y {
                    font-size: 24px;
                }

                &.pick-d {
                    font-size: 64px;
                    font-weight: bold;
                    height: 100px;

                    li div {
                        margin-top: -16px
                    }
                }

                li {
                    align-items: center;
                    -webkit-box-align: center;
                    -webkit-box-pack: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    -ms-flex-pack: center;
                    height: 100%;
                    justify-content: center;
                    left: 0;
                    opacity: .5;
                    pointer-events: none;
                    position: absolute;
                    text-align: center;
                    text-align: center;
                    top: 0;
                    width: 100%;

                    &.pick-afr {
                        -ms-transform: translateY(100%);
                        -webkit-transform: translateY(100%);
                        transform: translateY(100%);
                    }

                    &.pick-bfr {
                        -ms-transform: translateY(-100%);
                        -webkit-transform: translateY(-100%);
                        transform: translateY(-100%);
                    }

                    &.pick-sl {
                        opacity: 1;
                        pointer-events: auto;
                        -ms-transform: translateY(0);
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        z-index: 1;
                    }

                    span {
                        bottom: 24px;
                        font-size: 16px;
                        left: 0;
                        line-height: 0;
                        position: absolute;
                        width: 100%;
                    }
                }

                .pick-arw {
                    cursor: pointer;
                    display: block;
                    font-size: 10px;
                    height: 100%;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 25%;
                    z-index: 10;

                    &:hover {
                        opacity: 1;
                    }

                    &.pick-arw-r {
                        right: 0;
                    }

                    &.pick-arw-l {
                        left: 0;
                    }

                    &.pick-arw-s2 {
                        pointer-events: none;

                        &.pick-arw-r {
                            -ms-transform: translateX(0);
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                        }

                        &.pick-arw-l {
                            -ms-transform: translateX(0);
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                        }
                    }

                    div {
                        display: block;
                        left: 50%;
                        line-height: 0;
                        position: absolute;
                        top: 50%;
                        -ms-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }

                    svg {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }

        .pick-lg {
            height: 0;
            margin: 0 auto;
            overflow: hidden;
            z-index: 1;

            &.pick-lg-focused {
                background-color: rgba(0, 0, 0, 0.025);
            }

            &.down {
                -webkit-animation: down .8s ease;
                animation: down .8s ease;
            }

            .pick-h {
                &::before, &::after {
                    opacity: 0.32;
                }
            }

            ul {
                &::after {
                    clear: both;
                    content: "";
                    display: table;
                }

                &.pick-lg-h {
                    height: 16.6666666667%;
                    padding: 0 10px;

                    li {
                        height: 100%;
                    }
                }

                &.pick-lg-b {
                    height: 83.3333333333%;
                    padding: 10px;

                    li {
                        cursor: pointer;
                        height: 16.6666666667%;
                        position: relative;

                        &.pick-lk {
                            opacity: .6;
                            pointer-events: none;

                            &::after {
                                text-decoration: line-through;
                            }
                        }

                        &.pick-sl {
                            &::before {
                                border-radius: 32px;
                                -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
                                box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
                                z-index: 2;
                            }

                            &::after, &::before {
                                -ms-transform: translate(-50%, -50%) scale(1.5);
                                -webkit-transform: translate(-50%, -50%) scale(1.5);
                                transform: translate(-50%, -50%) scale(1.5);
                            }

                            &.pick-sl-a:not(.pick-sl-b)::before {
                                border-top-right-radius: 8px;
                                -ms-transform: translate(-50%, -50%) scale(1.5) rotate(45deg) !important;
                                -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(45deg) !important;
                                transform: translate(-50%, -50%) scale(1.5) rotate(45deg) !important;
                            }

                            &.pick-sl-b:not(.pick-sl-a)::before {
                                border-top-left-radius: 8px;
                                -ms-transform: translate(-50%, -50%) scale(1.5) rotate(-45deg) !important;
                                -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(-45deg) !important;
                                transform: translate(-50%, -50%) scale(1.5) rotate(-45deg) !important;
                            }
                        }

                        &.pick-dir div {
                            opacity: .25;
                        }

                        &:not(.pick-h):hover {
                            z-index: 2;

                            &::before {
                                border-radius: 32px;
                                -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
                                box-shadow: 0 0 32px rgba(0, 0, 0, 0.1)
                            }

                            &::after, &::before {
                                -ms-transform: translate(-50%, -50%) scale(1.5);
                                -webkit-transform: translate(-50%, -50%) scale(1.5);
                                transform: translate(-50%, -50%) scale(1.5);
                            }
                        }

                        div {
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            z-index: 1;
                        }
                    }
                }

                li {
                    align-items: center;
                    -webkit-box-align: center;
                    -webkit-box-pack: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    -ms-flex-pack: center;
                    float: left;
                    font-size: 14px;
                    justify-content: center;
                    position: relative;
                    text-align: center;
                    text-align: center;
                    width: 14.285714286%;

                    &::before, &::after {
                        display: block;
                        height: 30px;
                        left: 50%;
                        line-height: 30px;
                        position: absolute;
                        top: 50%;
                        -ms-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        width: 30px;
                        z-index: 2;
                    }

                    &::after {
                        content: attr(data-value);
                        z-index: 2;
                    }

                    &::before {
                        content: "";
                    }
                }
            }
        }

        .pick-btns {
            height: 56px;
            margin: -1px;
            position: relative;
            z-index: 11;

            div {
                cursor: pointer;
                line-height: 0;
            }

            .pick-btn {
                background: rgba(0, 0, 0, 0.03);
                border-radius: 4px;
                bottom: 0;
                -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
                font-size: 16px;
                height: 36px;
                line-height: 38px;
                margin: 8px;
                outline: 0;
                position: absolute;
                text-align: center;
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
                width: 36px;

                &:focus, &:hover {
                    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
                    -ms-transform: scale(0.95);
                    -webkit-transform: scale(0.95);
                    transform: scale(0.95);
                }

                &.pick-btn-sz {
                    right: 0;
                }

                &.pick-btn-lng {
                    left: 0;
                    -ms-transform-origin: left bottom;
                    -webkit-transform-origin: left bottom;
                    transform-origin: left bottom;
                }

                svg {
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    -ms-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    &.picker-clean {
        .picker-jumped-years {
            display: none;
        }
    }

    .picker-jumped-years {
        border-bottom-left-radius: 6px !important;
        border-bottom-right-radius: var(--dd-radius) !important;
        bottom: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
        padding: 4px;
        padding-bottom: 56px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 60px;
        -ms-transform: translateY(16px);
        -webkit-transform: translateY(16px);
        transform: translateY(16px);
        -ms-transform-origin: bottom center;
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        visibility: hidden;
        z-index: 10;

        &.picker-jumper-years-visible {
            opacity: 1;
            pointer-events: auto;
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
            visibility: visible;
        }

        > div {
            cursor: pointer;
            float: left;
            padding: 4px;
            position: relative;
            width: 50%;

            &:before {
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 6px;
                content: "";
                display: block;
                padding: 16px;
                padding-bottom: 50%;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.025);
                }
            }

            &:after {
                content: attr(data-id);
                font-size: 20px;
                left: 50%;
                position: absolute;
                text-align: center;
                top: 50%;
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }

    &.picker-lg {
        width: 300px;

        ul.pick.pick-d {
            height: 0 !important;
            -ms-transform: scale(0);
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        .pick-lg {
            height: 256px;
        }
    }

    .picker-rumble {
        -webkit-animation: picker_rumble .4s ease;
        animation: picker_rumble .4s ease;
    }

    &.picker-locked {
        .pick-submit {
            opacity: 0.35;

            &:hover {
                -webkit-box-shadow: none !important;
                box-shadow: none !important
            }
        }
    }

    &.picker-modal {
        left: 50% !important;
        margin: 0 !important;
        position: fixed !important;
        top: 50% !important;
        -webkit-transform: translate3d(-50%, -50%, 0) !important;
        transform: translate3d(-50%, -50%, 0) !important;

        &:before {
            display: none;
        }
    }

    &.picker-fxs {
        -o-transition: opacity .2s ease, visibility .2s ease, margin .2s ease;
        -webkit-transition: opacity .2s ease, visibility .2s ease, margin .2s ease;
        transition: opacity .2s ease, visibility .2s ease, margin .2s ease;

        ul.pick {
            &.pick-y {
                -o-transition: background-color .4s ease;
                -webkit-transition: background-color .4s ease;
                transition: background-color .4s ease;
            }

            li {
                -o-transition: transform .4s ease, opacity .4s ease;
                -webkit-transition: opacity .4s ease, -webkit-transform .4s ease;
                transition: opacity .4s ease, -webkit-transform .4s ease;
                transition: transform .4s ease, opacity .4s ease;
                transition: transform .4s ease, opacity .4s ease, -webkit-transform .4s ease;
            }

            .pick-arw {
                -o-transition: transform .2s ease, opacity .2s ease;
                -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
                transition: opacity .2s ease, -webkit-transform .2s ease;
                transition: transform .2s ease, opacity .2s ease;
                transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;

                i {
                    -o-transition: right .2s ease, left .2s ease;
                    -webkit-transition: right .2s ease, left .2s ease;
                    transition: right .2s ease, left .2s ease;
                }
            }
        }

        .picker-jumped-years {
            -o-transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
            -webkit-transition: opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease;
            transition: opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease;
            transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
            transition: transform .2s ease, opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease;
        }

        .pick-lg .pick-lg-b li {
            -o-transition: background-color .2s ease;
            -webkit-transition: background-color .2s ease;
            transition: background-color .2s ease;
        }

        .pick-btns {
            .pick-submit {
                -o-transition: top .2s ease, box-shadow .4s ease, background-color .4s ease;
                -webkit-transition: top .2s ease, background-color .4s ease, -webkit-box-shadow .4s ease;
                transition: top .2s ease, background-color .4s ease, -webkit-box-shadow .4s ease;
                transition: top .2s ease, box-shadow .4s ease, background-color .4s ease;
                transition: top .2s ease, box-shadow .4s ease, background-color .4s ease, -webkit-box-shadow .4s ease;

                svg {
                    height: 18px;
                }
            }

            .pick-btn {
                -o-transition: all .2s ease;
                -webkit-transition: all .2s ease;
                transition: all .2s ease;

                svg {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }

    .null {
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

    &:not(.picker-lg) {
        width: 180px !important;
        width: var(--dd-width) !important;
    }

    .pick {
        &:after {
            &:hover, &:focus {
                border-radius: 6px !important;
                border-radius: var(--dd-radius) !important;
            }
        }
    }

    .pick-dir div, .pick-lg b, .pick-lg-h, .pick-submit, &:not(.picker-clean), .pick:first-of-type, :not(.picker-clean):before {
        background-color: #fd4741 !important;
        background-color: var(--dd-color1) !important;
    }

    .pick-btn, .pick-y.pick-jump, .picker + div, .pick li span {
        color: #fd4741 !important;
        color: var(--dd-color1) !important;
    }

    .pick-lg-b {
        &, .pick-wke, li:not(.pick-sl):not(.pick-h):after {
            color: #fd4741 !important;
            color: var(--dd-color1) !important;
        }
    }

    .pick-btn, .pick-btn:hover, .pick-l, .pick-lg-b li:not(.pick-sl):not(.pick-h):hover:before, .picker, .picker-jumped-years, &:before {
        background-color: white !important;
        background-color: var(--dd-color2) !important;
    }

    .pick-arw, .pick-l, .picker {
        color: #4d4d4d !important;
        color: var(--dd-color3) !important;
    }

    .pick-lg-b .pick-sl:after, .pick-lg-h, .pick-submit, &:not(.picker-clean) .pick:first-of-type, &:not(.picker-clean) .pick:first-of-type * {
        color: white !important;
        color: var(--dd-color4) !important;
    }
}

@media only screen and (max-width: 479px) {
    div.datedropper {
        left: 50% !important;
        margin: 0;
        position: fixed;
        top: 50% !important;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);

        &::before {
            display: none
        }

        .picker {
            -webkit-box-shadow: 0 0 64px 32px rgba(0, 0, 0, 0.06) !important;
            box-shadow: 0 0 64px 32px rgba(0, 0, 0, 0.06) !important
        }

        &.picker-lg {
            bottom: 1rem !important;
            height: auto !important;
            left: 1rem !important;
            right: 1rem !important;
            top: 1rem !important;
            -ms-transform: none;
            -webkit-transform: none;
            transform: none;
            width: auto !important;

            &.picker-modal {
                height: 100% !important;
                padding: 1rem !important;
                width: 100% !important;
            }

            .picker {
                height: 100%;

                .pick {
                    max-height: unset !important;
                }
            }

            .pick-lg {
                height: 62% !important;
                max-height: unset !important;

                .pick-lg-h {
                    height: 16.6666666667%;
                }

                .pick-lg-b {
                    height: 83.3333333333%;

                    li {
                        height: 16.6666666667%;
                    }
                }
            }

            .picker-jumped-years {
                padding-bottom: 12% !important;
                top: 13% !important;
            }

            .pick-l, .pick-m, .pick-y {
                height: 13% !important;
            }

            .pick-btns {
                height: 12% !important;
            }
        }

        &.picker-focused {
            margin-top: 0;
        }
    }
}

@media only screen and (min-width: 480px) {
    div.datedropper.picker-fxs.picker-transit {
        -o-transition: width 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), opacity 0.2s ease, visibility 0.2s ease, margin 0.2s ease;
        -webkit-transition: width 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), opacity 0.2s ease, visibility 0.2s ease, margin 0.2s ease;
        transition: width 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), opacity 0.2s ease, visibility 0.2s ease, margin 0.2s ease;

        .pick-lg {
            -o-transition: height 0.8s cubic-bezier(1, -0.55, 0.2, 1.37);
            -webkit-transition: height 0.8s cubic-bezier(1, -0.55, 0.2, 1.37);
            transition: height 0.8s cubic-bezier(1, -0.55, 0.2, 1.37);
        }

        .pick-d {
            -o-transition: top 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), transform 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), height 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), background-color 0.4s ease;
            -webkit-transition: top 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), height 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), background-color 0.4s ease, -webkit-transform 0.8s cubic-bezier(1, -0.55, 0.2, 1.37);
            transition: top 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), height 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), background-color 0.4s ease, -webkit-transform 0.8s cubic-bezier(1, -0.55, 0.2, 1.37);
            transition: top 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), transform 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), height 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), background-color 0.4s ease;
            transition: top 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), transform 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), height 0.8s cubic-bezier(1, -0.55, 0.2, 1.37), background-color 0.4s ease, -webkit-transform 0.8s cubic-bezier(1, -0.55, 0.2, 1.37);
        }
    }
}

@-webkit-keyframes picker_rumble {
    0%, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }
}

@keyframes picker_rumble {
    0%, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }
}

